<h1 class="text-center my-4 text-primary">Welcome to my First Ruby on Rails app</h1>

<%= form_with model: @user, local: true, html: { class: 'container' } do |form| %>
  <p>
    <%= form.label :name, class: "form-label" %><br>
    <%= form.text_field :name, class: "form-control" %>
  </p>
  <p>
    <%= form.label :email, class: "form-label" %><br>
    <%= form.text_field :email, class: "form-control" %>
  </p>
  <p>
    <%= form.submit class: "btn btn-success" %>
  </p>
<% end %>

<p class="text-center my-4 text-primary" >
Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>
